.show-page
  %p#show-header
    %strong グループ名
    = @group.name
    %span.edit-group= link_to "Edit", edit_group_path(@group)

  .middle-content
    .left-content{ style:"width: 50%;" }
    %h3 メンバー一覧
    - @group.users.each do |each_user|
      %div= each_user.name

    .right-content

  = link_to 'グループ一覧', groups_path
