<div id="modal-main">
  <i class="fa fa-times" aria-hidden="true"></i>
  <form method= "patch" action="/groups/${groupId}">
    <p>グループ名: ${groupName}</p>
    <p>パスワードを入力してください</p>
    <input type="text" name="password">
    <input type="submit" value ="送信">
  </form>
</div>



<form method= "patch" action="/groups/${groupId}">
  <p>グループ名: ${groupName}</p>
  <p>パスワードを入力してください</p>
  <input type="text" name="password">
  <input type="submit" value ="送信">
</form>
